<!-- this is the template for detail views inside the grid -->
<script type="text/x-kendo-template" id="mithril-template" class="mithril-template">
    <div id="mithril-tabstrip" class="mithril-tabstrip">
        <ul>
            <li class="k-state-active">Contact</li> <!-- contact data goes here-->
            <li>Orders</li> <!-- Order details go here -->
        </ul>
        <div>
            <!-- the contact data is just a simple kendoList widget-->
            <ul id="mithril-customer-address" class="mithril-customer-address" style="list-style-type: none;"></ul>
        </div>
        <div>
            <!-- Order details is show in the additional Kendo Grid
                Take into account that selection of elements in a nested template only accepts class names and not ids!
                Therefore we have to give the detail grid a class name to select it properly in the "detailInit" function in demo.view.js
                On each call of the detail data (per customer) we load this template and do some extra processing.
                More info about nested templates here: http://blog.falafel.com/nested-templates-kendo-ui/-->
            <div class="mithril-detail-grid"></div>
        </div>
    </div>
</script>

<!-- here we'll hook up the Mithril app -->
<!-- Please, not that Kendo Grid belongs to the "Professional" version of Kendo UI and needs a proper license
    There's also 30 day trial available: http://www.telerik.com/download/kendo-ui -->
<div class="row">
    <div class="col-lg-12">
        <div id="mithril-app"></div>
    </div>
</div>
